
#app, .app {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: -10;
}

.leaflet-cords-a {
    width: 90px !important;
}

.feature-info {
    width: 350px;
    height: 100px;
    background-color: rgba(255,255,255,.75) !important;
    margin-top: 10px;
    margin-left: 10px;
}

.slider-control {
    position: absolute;
    right: 120px;
    left: 10px;
    bottom: 10px;
}

.slider-control .MuiSlider-root,
.slider-control .MuiLinearProgress-root {
    width: calc(100% - 275px) !important;
    display: inline-block;
    margin-left: 20px;
}

.slider-control .MuiLinearProgress-root {
    height: 10px !important;
}

.feature-pictures {
    position: absolute;
    height: 170px;
    background-color: rgba(255,255,255,.75) !important;
    bottom: 50px;
    left: 10px;
    right: 10px;
}

.img-modal {
    max-width: 450px;
    max-height: 350px;
}